img {
  width: 50%;
  height: 50%;
}
.featured {
  width: 80%;
  margin: auto;
}

.cutom-card {
  height: 80%;
  width: 100%;
  background-color: #fafafa;

  margin: 30px;
  margin: 0px 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.header {
  height: 50%;
  width: 100%;
}
.cover {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.losange {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  position: relative;
  overflow: hidden;
  border: 8px solid #fafafa;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.custom-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.losange img {
  max-height: 142%;
  transform: rotate(-45deg);
  z-index: -1;
  position: relative;
}
.custom-card-description {
  padding: 10px;
  height: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  overflow: hidden;
  height: 200px;
  line-height: 25px;
  margin: 20px;
  border: 5px solid #aaa;
}

.ellipsis:before {
  content: '';
  float: left;
  width: 5px;
  height: 200px;
}

.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.ellipsis:after {
  content: '\02026';

  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  float: right;
  position: relative;
  top: -25px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;

  text-align: right;

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(255, 255, 255, 0)),
    to(white),
    color-stop(50%, white)
  );
  background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
