.messages {
  width: 80%;
  margin: auto;
}
.message {
  margin: 10px;
}
.found {
  width: 80%;
  margin: auto;
}
:host {
  width: 100%;
  overflow: auto;
  transition: height 0.3s ease-in, opacity 0.1s ease-in 0.3s;
}

:host > .smaller {
  height: 50%;
}
:host > .bigger {
  height: 60%;
}
